
@font-face {font-family: "lcicon";
  src: url('../../static/fonts/iconfont.eot?t=1494486951030'); /* IE9*/
  src: url('../../static/fonts/iconfont.eot?t=1494486951030#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../static/fonts/iconfont.woff?t=1494486951030') format('woff'), /* chrome, firefox */
  url('../../static/fonts/iconfont.ttf?t=1494486951030') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../../static/fonts/iconfont.svg?t=1494486951030#lcicon') format('svg'); /* iOS 4.1- */
}

.lcicon {
  font-family:"lcicon" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lc-arrow-down:before { content: "\e60d"; }

.lc-setting:before { content: "\e6a6"; }

.lc-delete:before { content: "\e692"; }

.lc-message:before { content: "\e615"; }

.lc-edit:before { content: "\e63a"; }

.lc-position:before { content: "\e618"; }

.lc-exchange-car:before { content: "\e647"; }

.lc-checked-rect:before { content: "\e722"; }

.lc-user:before { content: "\e605"; }

.lc-tip-circle:before { content: "\e653"; }

.lc-group:before { content: "\e6c0"; }

.lc-print:before { content: "\e630"; }

.lc-settlement:before { content: "\e682"; }

.lc-calculator:before { content: "\e627"; }

.lc-question:before { content: "\e639"; }

.lc-push:before { content: "\e61c"; }

.lc-car:before { content: "\e66e"; }

.lc-business:before { content: "\e778"; }

.lc-cost:before { content: "\e7b3"; }

.lc-list:before { content: "\e608"; }

.lc-finance:before { content: "\e6b6"; }

.lc-calendar:before { content: "\e659"; }

.lc-received:before { content: "\e6a5"; }

.lc-location:before { content: "\e60c"; }

.lc-minus:before { content: "\e623"; }

.lc-close-circle:before { content: "\e624"; }

.lc-add:before { content: "\e622"; }

.lc-log:before { content: "\e832"; }

.lc-bulb:before { content: "\e6cb"; }

.lc-search:before { content: "\e621"; }

.lc-photograph:before { content: "\e606"; }

.lc-focus:before { content: "\e60f"; }

.lc-small-truck:before { content: "\e620"; }

.lc-transporting:before { content: "\e883"; }

.lc-procurement:before { content: "\e887"; }

.lc-question-full:before { content: "\e8bb"; }

.lc-info-circle:before { content: "\e8e8"; }

.lc-info:before { content: "\e8e9"; }

.lc-question-line:before { content: "\e8ea"; }

.lc-question-clear:before { content: "\e8eb"; }

.lc-question-full-circle:before { content: "\e8ec"; }

.lc-info-full-triangle:before { content: "\e8ed"; }

.lc-tip-full-circle:before { content: "\e8ee"; }

.lc-info-line-circle:before { content: "\e8ef"; }

.lc-info-line-triangle:before { content: "\e8f0"; }

.lc-arrow-up-full:before { content: "\e8f7"; }

.lc-arrow-sort:before { content: "\e8f8"; }

.lc-arrow-down-full:before { content: "\e8f9"; }

.lc-client:before { content: "\e610"; }

.lc-send:before { content: "\e604"; }

.lc-truck:before { content: "\e602"; }

.lc-create:before { content: "\e616"; }

.lc-waitaccept:before { content: "\e62f"; }

.lc-organization:before { content: "\e652"; }

.lc-company:before { content: "\e632"; }

.lc-chat:before { content: "\e601"; }

.lc-upload:before { content: "\e603"; }

.lc-close:before { content: "\e8fa"; }

.lc-settlement-1:before { content: "\e607"; }
