::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background: #dfdfdf;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}

::-webkit-scrollbar-button {
    display: none
}

::-webkit-scrollbar-track {
    background-color: #fff
}

::-webkit-scrollbar-track-piece {
    background: #fff
}

::-webkit-scrollbar-thumb {
    width: 8px;
    min-height: 15px;
    background: #dfdfdf;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0.6)
}

::-webkit-scrollbar-thumb:active {
    background: rgba(0,0,0,0.8)
}