@import 'reset.css';

html,body {
    height: 100%;
    overflow: hidden;
}
body {
    position: relative;
}
.layout-side {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 320px;
    background-color: #fff;
}
.layout-header {
    height: 80px;
    background-color: #f00;
}
.layout-footer {
    height: 80px;
    background-color: #f90;
}

.layout-content {
    position: absolute;
    left: 320px;
    top: 0;
    bottom: 0;
    right: 0;
}